In [3]:
import pandas as pd

In [6]:
tel = pd.read_csv('C:/Users/Surendra/Desktop/data science/TOP MENTOR/mysql/Top_mentor_projects_Datasets-main/Telecom_retention_Telco Company.csv')

In [7]:
tel.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [8]:
x = tel[['Area code']]

In [9]:
y = tel[['Churn']]

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size =0.3)

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [14]:
dtc = DecisionTreeClassifier()

In [15]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier()

In [17]:
y_pred = dtc.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix

In [20]:
confusion_matrix(y_test,y_pred)

array([[678,   0],
       [122,   0]], dtype=int64)

In [22]:
678/(678+122)

0.8475

### 84 % accuracy that area_code is reason of churn with the classification analysis by decision tree

In [24]:
#decision tree regression

In [26]:
tel.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [59]:
x = tel[['Total intl calls']]

In [60]:
y = tel[['Total intl charge']]

In [61]:
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size = 0.35)

In [62]:
from sklearn.tree import DecisionTreeRegressor

In [63]:
dtr = DecisionTreeRegressor()

In [64]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

In [65]:
y_pred = dtr.predict(x_test)

In [66]:
y_test.head()

      Total intl charge
2618               3.38
2235               2.00
203                3.00
1994               2.51
1896               3.16

In [67]:
y_pred[0:5]

array([2.82417722, 2.74972973, 2.77194203, 2.82417722, 2.73119632])

In [68]:
from sklearn.metrics import mean_squared_error

In [69]:
mean_squared_error(y_test,y_pred)

0.4999716459567523

In [70]:
#the residual is .499 in th predicted value and test value for the independent 
#variable Total intl calls and dependent variable total intl charge