In [1]:
import pandas as pd  #first import the pandas librarty

In [83]:
df1 = pd.read_csv('C:/Users/Suri/Desktop/data_file/data1.csv')
df1            #upload the table one AFTER CONVEWRT IN CSV FILE IN EXCEL AND MAKE TWO CSV FILE FOR BOTH THE TABLE NAMED DATA1 AND DATA2

            Order ID       Product ID  Qty
0     CA-2014-100006  TEC-PH-10002075    3
1     CA-2014-100090  FUR-TA-10003715    3
2     CA-2014-100090  OFF-BI-10001597    6
3     CA-2014-100293  OFF-PA-10000176    6
4     CA-2014-100328  OFF-BI-10000343    1
...              ...              ...  ...
9473  US-2017-169551  OFF-PA-10004100    3
9474  US-2017-169551  OFF-ST-10004835    3
9475  US-2017-169551  TEC-AC-10002018    3
9476  US-2017-169551  TEC-AC-10003033    2
9477  US-2017-169551  TEC-PH-10001363    2

[9478 rows x 3 columns]

In [84]:
df2 = pd.read_csv('C:/Users/Suri/Desktop/data_file/data2.csv')
df2       #import data2 filwe in df2 varible as given

            Order ID       Product ID  Qty
0     CA-2014-100090  FUR-TA-10003715    3
1     CA-2014-100090  OFF-BI-10001597    6
2     CA-2014-100293  OFF-PA-10000176    6
3     CA-2014-100328  OFF-BI-10000343    1
4     CA-2014-100363  OFF-FA-10000611    2
...              ...              ...  ...
9474  US-2017-169551  OFF-PA-10004100    3
9475  US-2017-169551  OFF-ST-10004835    3
9476  US-2017-169551  TEC-AC-10002018    3
9477  US-2017-169551  TEC-AC-10003033    2
9478  US-2017-169551  TEC-PH-10001363    2

[9479 rows x 3 columns]

In [85]:
df1["combine1"] = df1["Order ID"]+df1["Product ID"]       #create new column name combine,in both tablew by adding order id and product id
df2["combine2"] = df2["Order ID"]+df2["Product ID"]        # product id as required 
df1

            Order ID       Product ID  Qty                       combine1
0     CA-2014-100006  TEC-PH-10002075    3  CA-2014-100006TEC-PH-10002075
1     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
2     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
3     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
4     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343
...              ...              ...  ...                            ...
9473  US-2017-169551  OFF-PA-10004100    3  US-2017-169551OFF-PA-10004100
9474  US-2017-169551  OFF-ST-10004835    3  US-2017-169551OFF-ST-10004835
9475  US-2017-169551  TEC-AC-10002018    3  US-2017-169551TEC-AC-10002018
9476  US-2017-169551  TEC-AC-10003033    2  US-2017-169551TEC-AC-10003033
9477  US-2017-169551  TEC-PH-10001363    2  US-2017-169551TEC-PH-10001363

[9478 rows x 4 columns]

In [86]:
df2

            Order ID       Product ID  Qty                       combine2
0     CA-2014-100090  FUR-TA-10003715    3  CA-2014-100090FUR-TA-10003715
1     CA-2014-100090  OFF-BI-10001597    6  CA-2014-100090OFF-BI-10001597
2     CA-2014-100293  OFF-PA-10000176    6  CA-2014-100293OFF-PA-10000176
3     CA-2014-100328  OFF-BI-10000343    1  CA-2014-100328OFF-BI-10000343
4     CA-2014-100363  OFF-FA-10000611    2  CA-2014-100363OFF-FA-10000611
...              ...              ...  ...                            ...
9474  US-2017-169551  OFF-PA-10004100    3  US-2017-169551OFF-PA-10004100
9475  US-2017-169551  OFF-ST-10004835    3  US-2017-169551OFF-ST-10004835
9476  US-2017-169551  TEC-AC-10002018    3  US-2017-169551TEC-AC-10002018
9477  US-2017-169551  TEC-AC-10003033    2  US-2017-169551TEC-AC-10003033
9478  US-2017-169551  TEC-PH-10001363    2  US-2017-169551TEC-PH-10001363

[9479 rows x 4 columns]

### 1.How to identify the Records (Order ID + Product ID combination) present in data1 but missing in data2

In [89]:
m1 = df1["combine1"].isin(df2["combine2"])      #identify the Records (Order ID + Product ID combination) present in both column 
com = df1.loc[m1, "combine1"]                   
com

1       CA-2014-100090FUR-TA-10003715
2       CA-2014-100090OFF-BI-10001597
3       CA-2014-100293OFF-PA-10000176
4       CA-2014-100328OFF-BI-10000343
5       CA-2014-100363OFF-FA-10000611
                    ...
9473    US-2017-169551OFF-PA-10004100
9474    US-2017-169551OFF-ST-10004835
9475    US-2017-169551TEC-AC-10002018
9476    US-2017-169551TEC-AC-10003033
9477    US-2017-169551TEC-PH-10001363
Name: combine1, Length: 8971, dtype: object

In [91]:
m11 = ~df1["combine1"].isin(df2["combine2"])      #1.identify the Records (Order ID + Product ID combination) present in 
com = df1.loc[m11, "combine1"]                    #data1 but missing in data2
com

0       CA-2014-100006TEC-PH-10002075
10      CA-2014-100678OFF-EN-10000056
19      CA-2014-100895OFF-AR-10004511
35      CA-2014-101560OFF-BI-10000309
61      CA-2014-102673OFF-LA-10001771
                    ...
9390    US-2017-160836OFF-AP-10001626
9403    US-2017-162558FUR-FU-10002364
9420    US-2017-163657OFF-BI-10000138
9427    US-2017-164056FUR-TA-10001307
9435    US-2017-165456FUR-CH-10003981
Name: combine1, Length: 507, dtype: object

In [73]:
len(com)

507

### 2.How to identify the Records (Order ID + Product ID combination) missing in data1 but present in data2

In [92]:
m2 = df2["combine2"].isin(df1["combine1"])    #show comman value in both data's combine column 
com1 = df2.loc[m2, "combine2"]
com1

0       CA-2014-100090FUR-TA-10003715
1       CA-2014-100090OFF-BI-10001597
2       CA-2014-100293OFF-PA-10000176
3       CA-2014-100328OFF-BI-10000343
4       CA-2014-100363OFF-FA-10000611
                    ...
9474    US-2017-169551OFF-PA-10004100
9475    US-2017-169551OFF-ST-10004835
9476    US-2017-169551TEC-AC-10002018
9477    US-2017-169551TEC-AC-10003033
9478    US-2017-169551TEC-PH-10001363
Name: combine2, Length: 8971, dtype: object

In [93]:
m22 = ~df2["combine2"].isin(df1["combine1"])  #2. How to identify the Records (Order ID + Product ID combination) missing 
com1 = df2.loc[m22, "combine2"]              #in data1 but present in data2
com1

11      CA-2014-100706TEC-AC-10001314
14      CA-2014-100762OFF-PA-10001815
30      CA-2014-101427OFF-AR-10002257
56      CA-2014-102652FUR-FU-10001918
63      CA-2014-102869OFF-PA-10000788
                    ...
9428    US-2017-165344OFF-BI-10003196
9433    US-2017-165358TEC-CO-10001943
9455    US-2017-167920OFF-AP-10000159
9471    US-2017-169502OFF-AP-10001947
9473    US-2017-169551FUR-BO-10001519
Name: combine2, Length: 508, dtype: object

### 3.Find the Sum of the total Qty of Records missing in data1 but present in data2

In [95]:
data_marge = df1.merge(df2, how='outer', left_on=['combine1'], right_on=['combine2'])
data_marge

,Order ID_x,Product ID_x,Qty_x,combine1,Order ID_y,Product ID_y,Qty_y,combine2
0,CA-2014-100006,TEC-PH-10002075,3.0,CA-2014-100006TEC-PH-10002075,NaN,NaN,NaN,NaN
1,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715
2,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597
3,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176
4,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343
...,...,...,...,...,...,...,...,...
9981,NaN,NaN,NaN,NaN,US-2017-165344,OFF-BI-10003196,10.0,US-2017-165344OFF-BI-10003196
9982,NaN,NaN,NaN,NaN,US-2017-165358,TEC-CO-10001943,5.0,US-2017-165358TEC-CO-10001943
9983,NaN,NaN,NaN,NaN,US-2017-167920,OFF-AP-10000159,5.0,US-2017-167920OFF-AP-10000159
9984,NaN,NaN,NaN,NaN,US-2017-169502,OFF-AP-10001947,5.0,US-2017-169502OFF-AP-10001947
9985,NaN,NaN,NaN,NaN,US-2017-169551,FUR-BO-10001519,3.0,US-2017-169551FUR-BO-10001519

In [103]:
Data2_missing_in_data1 = data_marge[data_marge['combine1'].isna()]
Data2_missing_in_data1

,Order ID_x,Product ID_x,Qty_x,combine1,Order ID_y,Product ID_y,Qty_y,combine2
9478,NaN,NaN,NaN,NaN,CA-2014-100706,TEC-AC-10001314,2.0,CA-2014-100706TEC-AC-10001314
9479,NaN,NaN,NaN,NaN,CA-2014-100762,OFF-PA-10001815,3.0,CA-2014-100762OFF-PA-10001815
9480,NaN,NaN,NaN,NaN,CA-2014-101427,OFF-AR-10002257,3.0,CA-2014-101427OFF-AR-10002257
9481,NaN,NaN,NaN,NaN,CA-2014-102652,FUR-FU-10001918,7.0,CA-2014-102652FUR-FU-10001918
9482,NaN,NaN,NaN,NaN,CA-2014-102869,OFF-PA-10000788,3.0,CA-2014-102869OFF-PA-10000788
...,...,...,...,...,...,...,...,...
9981,NaN,NaN,NaN,NaN,US-2017-165344,OFF-BI-10003196,10.0,US-2017-165344OFF-BI-10003196
9982,NaN,NaN,NaN,NaN,US-2017-165358,TEC-CO-10001943,5.0,US-2017-165358TEC-CO-10001943
9983,NaN,NaN,NaN,NaN,US-2017-167920,OFF-AP-10000159,5.0,US-2017-167920OFF-AP-10000159
9984,NaN,NaN,NaN,NaN,US-2017-169502,OFF-AP-10001947,5.0,US-2017-169502OFF-AP-10001947
9985,NaN,NaN,NaN,NaN,US-2017-169551,FUR-BO-10001519,3.0,US-2017-169551FUR-BO-10001519

In [104]:
Data2_missing_in_data1['Qty_y'].sum()

1956.0

### Find the total number of unique records (Order ID + Product ID combination) present in the combined dataset of data1 and data2

In [105]:
Common_records = data_marge[~((data_marge['combine1'].isna()) | (data_marge['combine2'].isna()))]

In [106]:
Common_records

,Order ID_x,Product ID_x,Qty_x,combine1,Order ID_y,Product ID_y,Qty_y,combine2
1,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715,CA-2014-100090,FUR-TA-10003715,3.0,CA-2014-100090FUR-TA-10003715
2,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597,CA-2014-100090,OFF-BI-10001597,6.0,CA-2014-100090OFF-BI-10001597
3,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176,CA-2014-100293,OFF-PA-10000176,6.0,CA-2014-100293OFF-PA-10000176
4,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343,CA-2014-100328,OFF-BI-10000343,1.0,CA-2014-100328OFF-BI-10000343
5,CA-2014-100363,OFF-FA-10000611,2.0,CA-2014-100363OFF-FA-10000611,CA-2014-100363,OFF-FA-10000611,2.0,CA-2014-100363OFF-FA-10000611
...,...,...,...,...,...,...,...,...
9473,US-2017-169551,OFF-PA-10004100,3.0,US-2017-169551OFF-PA-10004100,US-2017-169551,OFF-PA-10004100,3.0,US-2017-169551OFF-PA-10004100
9474,US-2017-169551,OFF-ST-10004835,3.0,US-2017-169551OFF-ST-10004835,US-2017-169551,OFF-ST-10004835,3.0,US-2017-169551OFF-ST-10004835
9475,US-2017-169551,TEC-AC-10002018,3.0,US-2017-169551TEC-AC-10002018,US-2017-169551,TEC-AC-10002018,3.0,US-2017-169551TEC-AC-10002018
9476,US-2017-169551,TEC-AC-10003033,2.0,US-2017-169551TEC-AC-10003033,US-2017-169551,TEC-AC-10003033,2.0,US-2017-169551TEC-AC-10003033
9477,US-2017-169551,TEC-PH-10001363,2.0,US-2017-169551TEC-PH-10001363,US-2017-169551,TEC-PH-10001363,2.0,US-2017-169551TEC-PH-10001363

In [107]:
len(Common_records)

8971